<form ngNativeValidate (submit)="guardarCliente()">
	<label>Nombres:</label><input type="text" id="txtNombres" name="txtNombres" [(ngModel)]="nombres" required><br>
	<label>Apellidos:</label><input type="text" id="txtApellidos" name="txtApellidos" [(ngModel)]="apellidos" required><br>
	<label>Tipo de identificación:</label><input type="text" id="txtTipo" name="txtTipo" [(ngModel)]="tipo" required><br>
	<label>Numero de identificación:</label><input type="number" id="txtNumero" name="txtNumero" [(ngModel)]="numero" required><br>
	<input type="submit" name="Guardar" value="Guardar">
	<input type="reset" name="Cancelar" value="Cancelar" routerLink="/clientes">
</form>