<form>
	<div class="row">
		<div class="mb-3 col-sm-6">
			<label class="form-label form-control-sm mb-0" for="txtNombre">Ingrese nombres</label>
			<input type="text" id="txtNombres" name="txtNombres">
		</div>
		<div class="mb-3 col-sm-6">
			<label class="form-label form-control-sm mb-0" for="txtApellidos">Ingrese apellidos</label>
			<input type="text" id="txtApellidos" name="txtApellidos">
		</div>
	</div>
	<div class="row">
		<div class="mb-3 col-sm-6">
			<label class="form-label form-control-sm mb-0" for="txtTipo">Ingrese tipo de documento</label>
			<input type="text" id="txtTipo" name="txtTipo">
		</div>
		<div class="mb-3 col-sm-6">
			<label class="form-label form-control-sm mb-0" for="txtNumero">Ingrese número de documento</label>
			<input type="text" id="txtNumero" name="txtNumero">
		</div>
	</div>
</form>