<div>
	
	<!-- Title -->
	<h4 class="mb-3">Listado de clientes</h4>
	<hr>

	<!-- Search toolbar -->
	<div id="toolbar" class="row justify-content-end">
		<div class="input-group col-sm-12 col-lg-4 text-right">
			<input type="text" class="form-control form-control-sm justify-content-end" [(ngModel)]="datoBuscar" placeholder="Filtrar por nombre o apellido"> 
			<a (click)="buscarClientes(true)" style="position:relative; left:-20px; top:4px"><i class="bi bi-x-circle"></i></a>
			<div class="input-group-append">
			<button type="button" class="btn btn-primary btn-sm" (click)="buscarClientes(false)"><i class="bi bi-search"></i></button>
			</div>
		</div>
	</div>

	<!-- Table -->
	<table id="tablaclientes" class="table table-sm mt-3">
		<thead>
			<tr>
				<th scope="col">Nombres</th>
				<th scope="col">Apellidos</th>
				<th scope="col">Tipo id</th>
				<th scope="col">Numero id</th>
				<th scope="col" class="text-right">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of clientes | slice: (page-1) * pageSize : page * pageSize">
				<td>{{item.nombres}}</td>
				<td>{{item.apellidos}}</td>
				<td>{{item.identificacion.tipo}}</td>
				<td>{{item.identificacion.numero}}</td>
				<td class="text-right">
					<button type="button" class="btn btn-success btn-sm" [routerLink]="['/clientes/registro', item._id]"><i class="bi bi-pencil-fill"></i></button>
					<button type="button" class="btn btn-danger btn-sm ml-1" data-bs-toggle="modal" data-bs-target="#modalEliminar" (click)="setClienteEliminar(item._id, item.nombres+' '+item.apellidos)"><i class="bi bi-trash"></i></button>
				</td>
			</tr>
		</tbody>
	</table>
	
	<!-- Pagination -->
	<div id="pagination-section" class="text-center">
		<div class="row" *ngIf="clientes.length > 0; else elseBlock">
			<ngb-pagination class="col-md-8"
			[(page)]="page"
			[pageSize]="pageSize"
			[collectionSize]="clientes.length"></ngb-pagination> 
			<div class="col-md-4 text-right">Se encontraron {{clientes.length}} registros.</div>
		</div>
		<ng-template #elseBlock>No hay registros.</ng-template>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="modalEliminar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="staticBackdropLabel">Confirmación</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        Desea eliminar este cliente? {{nombreClienteEliminar}}
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" (click)="setClienteEliminar(null, '')" data-bs-dismiss="modal">Cancelar</button>
	        <button type="button" class="btn btn-danger" (click)="eliminarCliente()" data-bs-dismiss="modal">Eliminar</button>
	      </div>
	    </div>
	  </div>
	</div>

</div>